// Root app wrapper styles
// =======================

@import 'dirg';
@import 'dirg-scales';
@import 'color';

.App {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: columns(1) columns(1);
  overflow: auto;
  background: color('first');
}
