// Sheet styles
// ============

@import 'color';
@import 'dirg';
@import 'dirg-scales';

.Sheet {
  min-width: 80%;
  max-width: 80%;
  color: color('second');
}

.title {
  @include font-size(4);
  font-family: 'Source Sans Pro', sans-serif;
}

.textWrapper {
  @include font-size(0);
  margin-top: units(2);
  font-family: 'Merriweather', serif;
  white-space: pre-line;
}
