// Articles group styles
// =====================

@import 'color';
@import 'dirg';
@import 'dirg-scales';

.Book {
  display: flex;
  flex-flow: row nowrap;

  >* + * {
    margin-left: columns(1);
  }
}
